<html lang="en">
<head>
    {{!-- stylesheet link --}}
    <meta charset="utf-8">
    <title>NZ MYTHS</title>

</head>

<body>
    <header>
        {{!-- <nav> --}}
        <ul>
            <li>
                <a href="">Nav1</a>
            </li>
            <li>
                <a href="">Nav2</a>
            </li>
            <li>
                <a href="">Nav3</a>
            </li>
        </ul>>
        {{!-- </nav> --}}
        <h1>NZ MYTH-HEADS</h1>
        <br>
    </header>
        <div class="container">
            <h1>-.-</h1>
                 {{{body}}}
        </div>
         {{!-- scripts --}}
    </body>
     {{>footer}}
</html>