<html lang="en">
<head>
    {{!-- stylesheet link --}}
    <meta charset="utf-8">
    <title>NZ MYTHS</title>

</head>

<body>
    <div class="container">
        {{{body}}}
    </div>

<h1>-.-</h1>

    {{!-- scripts --}}

</body>
<footer>
    
</footer>
