<h1>Wello Horld</h1>
<h2>Click on a region!</h2>


<img usemap="#workmap" src="mapofnz.png" alt="map of NZ">

<map name="workmap">
  <area shape="rect" coords="294,34,404,49" alt="northland" href="/mythsByRegion/101">

  <area shape="rect" coords="338,134,453,152" alt="Auckland" href="/mythsByRegion/102">

  <area shape="rect" coords="617, 150, 765, 173" alt="Bay of Plenty" href="/mythsByRegion/104">

  <area shape="rect" coords="347,207,448,223" alt="Waikato" href="/mythsByRegion/103">

  <area shape="rect" coords="722,215,825,232" alt="Gisborne" href="/mythsByRegion/105">

  <area shape="rect" coords="322,265,420,293" alt="Taranaki" href="/mythsByRegion/108">

  <area shape="rect" coords="670,320,807,346" alt="Hawkes Bay" href="/mythsByRegion/106">

  <area shape="rect" coords="230,339,496,356" alt="Manawatu-Whanganui" href="/mythsByRegion/107">

  <area shape="rect" coords="596,426,721,448" alt="Wellington" href="/mythsByRegion/109">

  <area shape="rect" coords="262,400,362,420" alt="Tasman" href="/mythsByRegion/112">

  <area shape="rect" coords="507,471,592,492" alt="Nelson" href="/mythsByRegion/110">

  <area shape="rect" coords="500,512,652,532" alt="Marlborough" href="/mythsByRegion/111">

  <area shape="rect" coords="170,508,304,530" alt="West Coast" href="/mythsByRegion/113">

  <area shape="rect" coords="423,605,558,631" alt="Canterbury" href="/mythsByRegion/114">

  <area shape="rect" coords="12,657,128,681" alt="Southland" href="/mythsByRegion/116">

  <area shape="rect" coords="375,711,455,754" alt="Otago" href="/mythsByRegion/115">


</map>
