<h1>{{region}} Myths</h1>

<ul>
    {{#each}}
    <li>{{title}}</li>
    <li>{{content}}</li>
</ul>

{{!-- Stretch? --}}
<div>
    <p>More information on <a href="{{!link to wiki for the region}}">{{region}}</a></p>
</div>