<h1>{{name}} Myths</h1>

<ul>
    {{#each region}}
    <li><a href="./{{id}}">{{title}}</a></li>
    <br>
    {{/each}}
</ul>

{{!-- Stretch? --}}
<div>
    <p>More information on <a href="{{!link to wiki for the region}}">{{title}}</a></p>
</div>